<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <pipelines>
      <initialize>
        <processor type="GlassMapperWalkthrough.IoC.Initializers.UnityControllerFactoryInitializer, GlassMapperWalkthrough.IoC"
           patch:before="processor[@type='Sitecore.Apps.TagInjection.Loader.TagInjectionInitializer, Sitecore.Apps.TagInjection']" />
      </initialize>
    </pipelines>
    
    <sites>
      <site name="website">
        <patch:attribute name="database">master</patch:attribute>
        <patch:attribute name="cacheHtml">false</patch:attribute>
        <patch:attribute name="rootPath">/sitecore/content/Glass Mapper Walkthrough</patch:attribute>
      </site>
    </sites>
  </sitecore>
</configuration>
