<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <linkManager defaultProvider="sitecore">
      <providers>
        <add name="sitecore">
          <patch:attribute name="addAspxExtension" value="false" />
          <patch:attribute name="languageEmbedding" value="never" />
          <patch:attribute name="lowercaseUrls" value="true" />
        </add>
      </providers>
    </linkManager>

    <pipelines>
      <initialize>
        <processor type="GlassMapperWalkthrough.IoC.Initializers.UnityControllerFactoryInitializer, GlassMapperWalkthrough.IoC"
           patch:instead="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeControllerFactory, Sitecore.Mvc']" />
      </initialize>

      <mvc.renderRendering>
        <processor type="GlassMapperWalkthrough.Framework.Pipelines.Response.RenderRendering.AddStartComment, GlassMapperWalkthrough.Framework"
                   patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.ExecuteRenderer, Sitecore.Mvc']"/>

        <processor type="GlassMapperWalkthrough.Framework.Pipelines.Response.RenderRendering.AddEndComment, GlassMapperWalkthrough.Framework"
                   patch:after="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.ExecuteRenderer, Sitecore.Mvc']"/>
      </mvc.renderRendering>

      <renderField>
        <processor type="GlassMapperWalkthrough.Framework.Pipelines.RenderField.VariableReplacer, GlassMapperWalkthrough.Framework" />
      </renderField>
    </pipelines>

    <encodeNameReplacements>
      <replace mode="on" find=" " replaceWith="-" />
    </encodeNameReplacements>

    <sites>
      <site name="website">
        <patch:attribute name="database">master</patch:attribute>
        <patch:attribute name="cacheHtml">false</patch:attribute>
        <patch:attribute name="rootPath">/sitecore/content/Glass Mapper Walkthrough</patch:attribute>
      </site>
    </sites>

    <settings>
      <!-- http://www.sitecore.net/learn/blogs/technical-blogs/john-west-sitecore-blog/posts/2015/02/maximize-sitecore-developer-productivity.aspx -->
      <setting name="Counters.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>

      <setting name="InvalidItemNameChars">
        <patch:attribute name="value" value="\/:?&quot;&lt;&gt;|[]-" />
      </setting>

      <setting name="HtmlEditor.DefaultProfile">
        <patch:attribute name="value" value="/sitecore/system/Settings/Html Editor Profiles/Rich Text Full" />
      </setting>

      <setting name="Media.DisableFileMedia">
        <patch:attribute name="value" value="true" />
      </setting>

      <setting name="Media.RequestExtension">
        <patch:attribute name="value" value="" />
      </setting>

      <!--<setting name="ItemNotFoundUrl">
        <patch:attribute name="value" value="/utils/404" />
      </setting>

      <setting name="LinkItemNotFoundUrl">
        <patch:attribute name="value" value="/utils/404" />
      </setting>-->
      
      <setting name="RenderStartEndComments" value="true" />
    </settings>
  </sitecore>
</configuration>
